.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #FE7C96;
}

.logo img {
  width: 50px;
  height: 50px;
  /* margin-bottom: 40px;*/
}

.title {
  font-size: 28px;
  color: #f9f9f9;
  margin-bottom: 60px;
  text-align: center;
  width: 150px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: 320px;
  margin-bottom: 30px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: #f9f9f9;
  font-weight: 500;
}

.input {
  background-color: var(--color-search-bg);
  color: #A24557;
  border: none;
  width: 250px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

.input:focus {
  outline: none;
  border-color: #FE7C96;
}

.submitButton {
  background-color: #A24557;
  color: white;
  border: none;
  width: 250px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #FE7C96;
}

.loginButton {
  background-color: #A24557;
  color: white;
  border: none;
  width: 250px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #FE7C96;
}

.link {
  display: flex;
  gap: 8px;
  color: #f9f9f9;
}

.link:hover {
  text-decoration: underline;
}