@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-pink-light: #FFDFE5;
  --color-pink-medium: #F5B4C7;
  --color-pink-dark: #E28DAA;
  --color-text-dark: #333;
  --color-text-muted: #777;
  --color-background: #FAF7F5;
  --color-card-background: #FFF8FA;
  --color-search-bg: #FFE6D0;
  --color-search-text: #5D212D;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Philosopher;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Philosopher;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: Philosopher;
}

.popularDestinations::-webkit-scrollbar {
  height: 4px;
}

.popularDestinations::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 2px;
}

.popularDestinations::-webkit-scrollbar-thumb {
  background-color: var(--color-pink-medium);
  border-radius: 2px;
}

.tabs {
  scrollbar-width: thin;
  scrollbar-color: var(--color-pink-medium) #f0f0f0;
  -webkit-overflow-scrolling: touch;
}


@font-face {
  font-family: Philosopher;
  src: url(@/public/Philosopher-Regular.ttf);
}