.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #FE7C96;
}

.logo img {
  width: 70px;
  height: 70px;
  /* margin-bottom: 40px;*/
}

.title {
  font-size: 28px;
  color: #f9f9f9;
  margin-bottom: 60px;
  text-align: center;
  width: 150px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 300px;
}

.registerButton {
  background-color: #A24557;
  color: white;
  border: none;
  width: 250px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

.registerButton:hover {
  background-color: #FE7C96;
}

.loginButton {
  background-color: #A24557;
  color: white;
  border: none;
  width: 250px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #A24557;
  color: white;

}
